

.Slary_payment_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Employee_ID,.First_Name,.Last_Name,.Phone,.Email,.Amount,
.Payment_Type,.Date,.Payment_Month,.Payment_Date,.Company_ID
,.Company_Name,.Stock_Count,.Stock_Price,.Description,.Searchbox
{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1vw;
    font-size: 1.2rem;
    outline: none;
    width: 15vw;
    border: 2px solid rgb(63, 196, 230);
    background-color: #D9DCD8;
    font-family: 'Roboto-Light'; /* Font family name */
    border-radius: 5px;
}
.paiddate,.Month,.paymentDate{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.Payment_Month,.Payment_Date{
    margin-left: 2rem;
}
.paymentDate,.Month,.Prow5{
    display: none;
}
.savih1{
    font-size: 2.5rem;
    color: black;
    font-style:italic;
}
.savih1{
    font-family: 'Roboto-Light'; /* Font family name */
}