


.Staff-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    font-family: 'Roboto-Light';
    cursor: pointer;
}

#logout{
    border: 1px solid #FF7E07;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 1s;
}
#logout:hover{
    border: 1px solid white
}
#dashboard{
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 1s;
    background-color: #FF7E07;
    color: white;
}
#dashboard
    :hover{
        background-color: white;
        border: 1px solid FF7E07;
        color: #FF7E07;
    }
